// Breakpoints
$bp-large: 990px;
$bp-medium: 768px;
$bp-small: 600px;
$bp-xsmall: 480px;

// Colors

$c-white: #fff;
$c-blue: #195491;
$c-light-blue: #0397d6;
$c-dark-blue: #323a45;
$c-grey: #eaebec;
$c-dark-grey: #adb0b5;
$c-orange: #f79d15;
$c-dark-orange: #d48201;
$c-light-orange: #fcd8a1;

$c-module-background: #e8eef4;
$c-module-background-dark: #9ab4cf;
$c-button-shadow: #6f757c;
$c-slider-fill: #9ad5ef;

$border-radius: 3px;